.banner{
    background: url(../img/bg.png) no-repeat top / cover;
    height: 644px;
    color: #fff;
    position: relative;
}


.banner__wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}


.banner__title{
    font-size: clamp(1.563rem, 1.364rem + 0.99vw, 2.25rem);
    font-weight: 800;
}



.banner__btn{
    display: flex;
    gap: 13px;
    font-size: clamp(0.75rem, 0.678rem + 0.36vw, 1rem);
    font-weight: 600;
    transition: 0.3s;
}


.banner__btnn{
    padding: 11px 20px;
    background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
    border-radius: 10px;
    color: #fff;
}

.banner__btnn:hover{
    background: #8DD83D; 
}


.carousel__img{
    position: absolute;
    top: 95%;
    opacity: 100%;
}


.icon__right{
    position: absolute;
    left: 90%;
}
.icon__left{
    position: absolute;
    right: 90%;
}


@media screen and (max-width:570px) {
    .banner__btnn{
        padding: 9px 15px;
    }    
}