.banner{
    background: url(../img/bg.png) no-repeat top / cover;
    height: 644px;
    color: #fff;
    position: relative;
}


.banner__wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    transition: 0.3s;
}


.banner__title{
    font-size: clamp(1.563rem, 1.364rem + 0.99vw, 2.25rem);
    font-weight: 800;
}



.banner__buttom{
    display: flex;
    gap: 20px;

}

.banner__buttom a{
    color: #fff;
    font-size: clamp(0.813rem, 0.744rem + 0.34vw, 1rem);
    font-weight: 400;
    background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
    padding: 9px 24px;
    border-radius: 10px;
}
.banner__buttom a:hover{
    color: #000;
    background: #8DD83D;
}


.carousel__img{
    position: absolute;
    top: 95%;
    opacity: 100%;
}


.icon__right{
    position: absolute;
    left: 90%;
}
.icon__left{
    position: absolute;
    right: 90%;
}


@media screen and (max-width:570px) {
    .banner__btnn{
        padding: 9px 15px;
    }    
}