.games{
    padding: 97px 0 140px 0;
    background: url(../img/bg__pages.png) no-repeat top center / cover;   
}


.games__wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.games__title{
    font-size: clamp(1.5rem, 1.284rem + 1.08vw, 2.25rem);
    font-weight: 400;
    color: #000;
    padding-bottom: 55px;
}


.games__cards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}



.cardgames{
    max-width: 320px;
    width: 100%;
    background: #fff;
    color: #435766;
    border: 3px solid #fff;
    border-radius: 3px;
    transition: 0.3s;
}
.cardgames:hover{
    border: 3px solid #8DD83D;
}

.cardgames img{
    max-width: 320px;
    width: 100%;
    height: 180px;
}


.gamescard__title{
    font-size: 18px;
    font-weight: 400;
    padding: 22px 0 16px 21px;
}

.gamescard__titlee{
    font-size: 18px;
    font-weight: 400;
    padding: 25px 0 115px 21px;
}


.gamescard__text{
    font-size: 21px;
    font-weight: 400;
    padding: 0 0 43px 21px;
}


.gamescard__btn a{
    font-size: 16px;
    font-weight: 300;
    color: #fff;
}
.gamescard__btn {
    padding: 20px 0;
    text-align: center;
    max-width: 278px;
    width: 100%;
    background: #8DD83D;
    margin: 0 21px 27px 17px;
}


.btnn{
    padding-top: 70px;
}


.btnn__store{
    padding: 12px 47px;
    background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
}
.btnn a{
    color: #fff;
    transition: 0.3s;
    font-size: 21px;
    font-weight: 300;
}
.btnn a:hover{
    color: #000;
}

@media screen and (max-width: 1320px) {
        .games__cards{
             flex-wrap: wrap;   
        }
        .gamescard__btn {
            padding: 15px 0;
            max-width: 260px;
            width: 100%;
        }
}